<table class="table table-borderless">
    <tr>
        <td colspan="10">Header id :
            <input type="text" id="orderHeaderId" class="form-control" readonly>
        </td>
    <tr>
    <tr>
        <td colspan="10">Nama Pemesan :
            <input type="text" id="namaPemesanId" class="form-control">
        </td>
    </tr>
    <td>Kota</td>
    <td><select class="form-control" onchange="changeWisata(this.value)" id="kotaSelect"></select></td>
    <td>Wisata</td>
    <td><select class="form-control" onchange="GetPrice(this.value)" id="wisataSelect"></select></td>
    <td>Price</td>
    <td><input class="form-control" type="text" size="10" maxlength="10" id="harga" readonly></td>
    <td><button onclick="AddOrder()" class="btn btn-success">+</button></td>
    </tr>
    <tr>
        <td>
            <div id="dataList"></div>
        </td>
    </tr>

</table>





<script src="../order/orderDetail.js"></script>