
<table class="table table-borderless">
    <tr>
        <td>Nopol</td>
        <td>
            <input id="nopInput" class="form-control" maxlength="50">
            <small id="errNop" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Kapasitas</td>
        <td>
            <input id="kapInput" class="form-control" maxlength="50">
            <small id="errKap" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Status</td>
        <td>
            <input id="statInput" class="form-control" maxlength="50">
            <small id="errStat" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="editCancelBtn" class="btn btn-outline-dark">Cancel</button>
            <button id="editCreateBtn" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>

<script src="../armada/addArmada.js"></script>