<input th:value="${id}" type="hidden" id="editArmadaId">

<table class="table table-borderless">
    <tr>
        <td>IdArmada</td>
        <td>
            <input id="idArmInput" class="form-control" maxlength="10">
            <small id="errArm" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Nopol</td>
        <td>
            <input id="nopInput" class="form-control" maxlength="50">
            <small id="errNop" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Kapasitas</td>
        <td>
            <input id="kapInput" class="form-control" maxlength="50">
            <small id="errKap" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Status</td>
        <td>
            <input id="statInput" class="form-control" maxlength="50">
            <small id="errStat" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="editBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="editBtnCreate" class="btn btn-warning">Save Changes</button>
        </td>
    </tr>
</table>

<script src="../armada/editarmada.js"></script>