<input th:value="${id}" type="hidden" id="editPengemudiId">

<table class="table table-borderless">
    <tr>
        <td>IdPengemudi</td>
        <td>
            <input id="idInput" class="form-control" maxlength="10">
            <small id="errId" class="text-danger"></small>
        </td>
    </tr>

    <tr>
        <td>NomorPegawai</td>
        <td>
            <input id="nomorInput" class="form-control" maxlength="10">
            <small id="errNom" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>NamaPengemudi</td>
        <td>
            <input id="namaInput" class="form-control" maxlength="50">
            <small id="errNama" class="text-danger"></small>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <button id="editBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="editBtnCreate" class="btn btn-warning">Save Changes</button>
        </td>
    </tr>
</table>

<script src="../pengemudi/editpengemudi.js"></script>